@use '../mixins/hover.scss' as *;

.card {
  background-color: #1f1f1f;
  width: 327px;
  height: 579px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  &__image {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-bottom: 14px;
    margin: 0;
  }
  &__title {
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
    margin-top: 24px;
  }
  &__subtitle {
    color: var(--neon-green);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    margin-top: 4px;
    margin: 0;
  }
  &__subtitle--big {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    margin-top: 24px;
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 0;
  margin-top: 20px;
}

.button {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  color: var(--white);
  text-align: center;
  width: 279px;
  height: 45px;
  background-color: #333333;
  border-radius: 8px;
  padding-block: 12px;

  @include hover {
    background-color: var(--neon-green);
    color: #333333;
  }
}
